$titlefont: 'Anonymous Pro', monospace;
$normalfont: 'Josefin Sans', sans-serif;

$col1: #f2cb05;
$col2: #f2b705;
$col3: #734b02;
$col4: #f22929;
$col5: #3c6aa6;

$darkcol1: darken($col1, 10%);
$darkcol2: darken($col2, 10%);
$darkcol3: darken($col3, 10%);
$darkcol4: darken($col4, 10%);
$darkcol5: darken($col5, 10%);

$darkbase: #333;